.humble-header {
  margin: 0 auto 25px auto;
  padding: 25px 0;
  border-bottom: 1px solid #CFDBCF;
}
  @media (min-width: 600px) {
    .humble-header {
        margin: 25px auto;
    }
  }
  .humble-header .splash-tagline { text-shadow: none; }
.humble-title {
  margin: 5px auto;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
  @media (min-width: 600px) {
    .humble-title {
      font-size: 6rem;
    }
  }
#searchform {
  margin: 15px auto 0 auto;
  text-align: center;
}
  #searchform label { display: none; }
  #searchform #s {
    width: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    outline: none;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgba(111,166,109,.5);
    transition: all .3s ease-in;
  }
  #searchform #s.open {
    width: 200px;
    padding-left: 10px;
  }
  #searchform #searchsubmit {
    width: 35px;
    height: 35px;
    color: #6fa66d;
    outline: none;
    border: 2px solid transparent;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color .3s ease-in, border-color .3s ease-in;
  }
      #searchform #searchsubmit:hover { border-color: rgba(111,166,109,.7); background-color: #fff; }
.results { text-align: center; }
.blog-posts {
  padding: 0 2%;
}
.post-entry {
  margin: 50px auto 15px auto;
  padding: 0 2%;
}
.post-summary {}
  .post-summary:not(:last-of-type) {
    margin-bottom: 45px;
    border-bottom: 1px solid #cbcbcb;
  }
.post-title {
    font-family: Georgia;
    margin: 10px auto;
    padding: 0 10px;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.1;
    transition: color .3s ease-in;
}
  .post-title a:hover { color: #6fa66d; }
  .post-title a:active { color: #FFDD55;}
.post-metadata {
  margin: 0 auto 15px auto;
  font-size: .8em;
  color: #ababab;
  text-align: center;
}
  .post-metadata .post-metadata-authorinfo li { display: inline-block; }
  .post-metadata .post-metadata-categories li { display: inline-block; }
  .post-metadata .post-metadata-categories:before { content: 'Categories: '; }

  .post-metadata .author,
  .post-metadata i { color: #6fa66d; }
  .post-metadata .post-metadata-categories li:not(:last-of-type):after { content: ','; }
  .post-featured-image {
    display: block;
    margin: 0 auto;
  }
  .post-entry h2, .post-entry h3, .post-entry h4, .post-entry h5, .post-entry h6 {
    margin: 25px auto;
    max-width: 750px;
  }
  .post-entry > p:first-child:first-letter {
    float: left;
    margin: 5px 5px -4px 0;
    font-family: Georgia, serif;
    font-size: 2.7em;
    line-height: .9;
  }
  @media (min-width: 600px) {
    .post-entry > p:first-child:first-letter {
      font-size: 3em;
      margin-bottom: -4px;
    }
  }
  .post-entry p {
    margin: 0 auto 45px auto;
    max-width: 750px;
    font-family: Arial, san-serif;
    font-weight: 200;
    line-height: 1.5;
  }
  .post-entry p::after {
    display: table;
    content: "";
    clear: both;
  }
  .post-entry img {
    margin: 0 auto 45px auto;
  }
  .post-entry blockquote {
    position: relative;
    margin: 0 15px 45px 15px;
    padding: 0 5%;
  }
  .post-entry blockquote p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.1;
  }
  .post-entry blockquote:before {
    content: "“";
    font-family: serif;
    font-size: 300px;
    color: #d0e2d0;
    position: absolute;
    top: -35px;
    left: -5px;
    line-height: .8;
    z-index: -1;
  }
.more-link {
  display: block;
  margin: 25px auto;
  text-align: center;
}
.pager {
  font-size: 1.2rem;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  text-align: center;
}
  .pager-col {
    display: inline-block;
    margin: 5px 25px;
  }
  .pager-link {
    transition: color .3s ease-in;
  }
    .pager-link:hover { color: #6fa66d; }
    .pager-link:active { color: #FFDD55;}
.recent-posts {
  position: relative;
  padding: 15px 0;
}
  .recent-posts:after {
    position: absolute;
    left: 50%;
      transform: translateX(-50%);
    bottom: -20px;
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #efefef;
  }
  .recent-posts_h2 {
    margin: 5px;
    padding: 0 10px;
    font-family: Georgia, serif;
    background-color: #D2E0CC;
    border-radius: 5px;
  }
  .recent-posts_ul {
    padding: 5px 0;
  }
  .recent-posts_li {
    padding: 10px;
  }
    @media (min-width:600px) {
      .recent-posts_li {
        float: left;
        padding: 10px;
        width: 33.33%;
        box-sizing: border-box;
      }
    }
  .recent-posts_a {}
    .recent-posts_a:hover { text-decoration: underline; }
  .recent-posts_img {
    display: block;
    margin: 0 auto;
    height: 150px;
  }
  .recent-posts_h4 {
    margin: 5px auto;
    font-weight: 200;
    line-height: 1.2;
    text-align: center;
  }
  .recent-posts_time {
    display: block;
    font-size: .8em;
    color: #aaa;
    text-align: center;
  }
.pages { text-decoration: underline; }
.current-page { }

/* WP Overrides */
.wp-caption {
  max-width: 100% !important;
}
  .wp-caption img {
    width: auto !important;
    height: auto !important;
  }
  .wp-caption .wp-caption-text {
    margin: 0 15px;
    max-width: 100%;
    color: #888888;
    font-size: .8em;
  }
