.contact-intro {
  font-size: 2em;
  line-height: 1.8;
}
.contact-container {
  padding: 0 15px;
}
.contact-text {
  margin: 0 auto 25px auto;
}
  .contact-text > div {
    margin: 5px auto;
  }
  .contact-text h1 {
    margin-top: 0;
    text-transform: uppercase;
    text-decoration: underline;
  }
.contact-form {
  margin: 0 auto;
}
  @media (min-width: 600px) {
    .contact-text {
      float: left;
      padding-right: 25px;
      width: 50%;
      box-sizing: border-box;
    }
    .contact-form {
      float: left;
      padding-left: 25px;
      width: 50%;
      box-sizing: border-box;
    }
  }

form {
  position: relative;
  width: 100%;
  color:#9a9a9d;
  box-sizing: border-box;
}
  form label {
    display: inline-block;
    margin: 5px auto;
    width: 100%;
    border-bottom: 2px solid #6fa66d;
    background-color: rgba(255, 255, 255, 1);
  }

  form input,
  form textarea,
  form button {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  }

  form input,
  form textarea {
    padding:10px 25px;
    width: 100%;
    font-family: inherit;
    font-size: 16px;
    font-style: italic;
    color: rgba(0, 0, 0, .5);
    border: none;
    outline:none;
    background-color: transparent;
    transition:border .75s;
    box-sizing: border-box;
  }
  form input:focus,
  form textarea:focus {}
  form input {
    height: 50px
  }
  form textarea {
    resize: none;
    height: 200px
  }
  form button {
    display:block;
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    outline: none;
    border: 2px solid #6fa66d;
    background-color: transparent;
    transition: background-color .75s,border-color .75s
  }
  form button:hover {
    background-color: rgba(255,221,85, .9);
  }
.contact-footer { margin-top: 45px; }
  .contact-footer > div { margin-bottom: 45px; }
  .contact-footer i {
    font-size: 5em;
    margin-bottom: 15px;
  }
  .contact-footer p { font-size: 1.2em; }
  .contact-footer .social-media-bar {}
  .contact-footer .social-media-bar li { display: inline-block; }
  .contact-footer .social-media-bar i {
    font-size: 3em;
    margin: 15px 10px;
  }
  .contact-footer a { color: inherit; }
