.home header {
  background-color: #111;
  transition: background-color 3s ease-in;
}
  .home header > .table-cell {
    opacity: 0;
    transition: opacity 3s ease-out;
  }
#productions-control {
  vertical-align: top;
  text-align: center;
}
  #productions-control .prev, #productions-control .next {
    display: inline-block;
    margin: .83em auto;
    padding: 0 .3em;
    font-size: 1.5em;
    cursor: pointer;
    color: #6fa66d;
    transition: color .2s ease-in;
  }
    #productions-control .prev:hover, #productions-control .next:hover { color: #EED035; }
  #productions-control h2 {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 200;
  }
    @media (min-width: 600px) {
      #productions-control h2, #productions-control .prev, #productions-control .next {
        font-size: 2em;
      }
    }
  .bxslider .item {
    position: relative;
    margin: 0 auto;
    padding: 15px;
    max-width: 320px;
    text-align: center;
    box-sizing: border-box;
  }
  @media (min-width: 600px) {
    .bxslider .item {
      float: left;
      width: 33.33%;
      max-width: none;
    }
  }
  .bxslider .img-overlay {
    position: relative;
  }
  .bxslider .img-overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: #efefef;
    opacity: 0;
    transition: color .1s ease-in, opacity .2s ease-in;
  }
    .bxslider .item .img-overlay:hover i { opacity: 1; }
    .bxslider .item .img-overlay i:hover { color: #6fa66d; }
    .bxslider .item .img-overlay i:active { color: #FFDD55; }
  .bxslider .item h3 {
    margin: 5px auto;
    font-weight: 400;
  }
  .bxslider .item p {
    margin: 5px auto;
    color: #5d5d5d;
  }
#instafeed {
  padding: 0 15px;
  vertical-align: baseline;
}
  #instagram-icon {
    padding: 25px;
    font-size: 3em;
  }
  #instafeed .instagram-item {
    float: left;
    padding: 1%;
    width: 50%;
    box-sizing: border-box;
    vertical-align: baseline;
    overflow: hidden;
    transition: all .3s ease-in;
  }
    #instafeed .instagram-item:hover { opacity: .6; }
  @media (max-width: 749px) {
    #instafeed .instagram-item:nth-child(2n+1) { clear: left; }
  }
  @media (min-width: 750px) {
    #instafeed .instagram-item { width: 25%; }
    #instafeed .instagram-item:nth-child(4n+1) { clear: left; }
  }
  #instafeed .instagram-item img {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    vertical-align: baseline;
  }
  #load-more {
    font-size: 3em;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  #load-more[disabled] { color: rgba(0,0,0,.5); cursor: default; }
