.testimonial-title {
  padding: 0 10px;
  font-size: 2.5rem;
  border-bottom: 1px solid #CFDBCF;
}
.testimonial {
  display: inline-block;
  margin: 15px auto;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;
  vertical-align: top;
}
  .testimonial .testimonial-content {
    margin: 0 auto 15px auto;
    padding: 10px 25px;
    background-color: #efefef;
    box-sizing: border-box;
  }
    @media (min-width: 600px) {
      .testimonial {
        width: 33%;
      }
      .testimonial .testimonial-content {
        max-width: 300px;
        height: 250px;
      }
    }
  .testimonial .testimonial-footer {}
  .testimonial .testimonial-quote {
    margin: 0;
    font-style: italic;
    text-align: center;
    vertical-align: middle;
  }
  .testimonial .testimonial-quote:before, .testimonial .testimonial-quote:after {
    content: "\"";
  }
  .testimonial .testimonial-image {
    max-height: 100px;
  }
  .testimonial .testimonial-name {
    margin: 5px;
    font-weight: 200;
  }
  .testimonial .testimonial-jobtitle {
    margin: 5px;
    font-size: .8rem;
  }
  .testimonial .testimonial-company {
    margin: 5px;
    font-size: .8rem;
    font-weight: 200;
    text-decoration: underline;
    transition: color .3s ease-in;
  }
    .testimonial .testimonial-company:hover {
      color: #6fa66d;
    }

.client {
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 15px;
}
.client img {}
