.testimonial-title { font-size: 2rem; }
.testimonial {
  margin: 60px auto;
  padding: 0 30px;
}
  @media (min-width: 600px){
    .testimonial:nth-child(odd) .row .col-half:first-of-type { float: right; }
  }
  .testimonial .testimonial-image {}
  .testimonial .testimonial-name {
    font-size: 1.5rem;
  }
  .testimonial .testimonial-link {}
  .testimonial .testimonial-quote {
    margin: 15px auto;
    padding: 0 10px;
    font-size: 1.5em;
    line-height: 1.75;
  }
    .testimonial .testimonial-quote:before, .testimonial .testimonial-quote:after {
      content: "\"";
    }
.client {
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
}
.client img {}
