.client {
  display: inline-block;
  padding: 15px;
  width: 30%;
  height: 18.25vw;
  box-sizing: border-box;
  overflow: hidden;
}
.client img {}

.testimonial {
  margin: 60px auto;
  padding: 0 30px;
}
.testimonial h3 {
  font-size: 2.5rem;
  font-weight: 400;
}
.testimonial img {
}
.testimonial:nth-child(odd) .row .col-half:first-of-type {
  float: right;
}
.testimonial blockquote {
  margin: 25px;
  font-size: 1.5em;
  line-height: 1.75;
}
  .testimonial blockquote:before, .testimonial blockquote:after {
    content: "\"";
  }
