header h1 {
  margin: 50px auto;
  color: #6fa66d;
  font-size: 4.5rem;
  font-weight: 400;
}
  header h3 {}

.blog-posts {
  border-top: 1px solid #dfdfdf;
  padding: 0 2%;
}
.post-entry {
  margin: 50px auto;
  padding: 0 2%;
}
.post-summary {}
  .post-summary .post-title {
    color: #6fa66d;
    font-size: 2rem;
    font-weight: 200;
  }
    .post-summary .post-title:hover { text-decoration: underline; }
  .post-summary .post-metadata {
    color: #bacdba;
  }
  .post-entry h2, .post-entry h3, .post-entry h4, .post-entry h5, .post-entry h6 {
    margin: 25px auto;
    max-width: 750px;
  }
  .post-entry p {
    margin: 45px auto;
    max-width: 750px;
    font-size: 1.1rem;
    line-height: 1.7;
    font-weight: 200;
  }
  .post-entry blockquote {
    margin: 50px 0;
    padding: 25px 3%;
    color: #6fa66d;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
    line-height: 1.7;
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
    text-align: center;
  }

.more-link {
  display: block;
  margin: 25px auto;
  padding: 50px 0;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #bebebe;
  transition: color .3s, background-color .3s;
}
  .more-link:hover {
    color: #efefef;
    background-color: #6fa66d;
  }
