/*
  Humble Roots Media
  Standard Branding Colours

  Green: #6fa66d
  Brown: #332a20

  Hues
  White: #efefef
  Black: #111111
  Light-Grey: #cbcbcd
  Dark-Greyish-Blue: #23232d
  Dark-Greyish-Green: #232d23



*/

/* Default Typography */
html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

/* Default Element Styles */
body {}
header {}
footer {}
h1, h2, h3, h4, h5, h6 { margin: 10px 0; }
a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  text-decoration: none;
}
img {
  max-width: 100%; /* Ensures no image breaks its container */
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li { margin: 0; padding: 0; }
address { font-style: normal; }

/* Layout Classes */
.row {
  vertical-align: top;
}
.row::before, .row::after {
  display: table;
  content: "";
  clear: both;
}
.col {
  vertical-align: top;
  box-sizing: border-box;
}
  @media (min-width: 600px) {
    .col {
      float: left;
    }
  }
.col-half {
  vertical-align: top;
  box-sizing: border-box;
}
  @media (min-width: 600px) {
    .col-half {
      float: left;
      width: 50%;
    }
  }
.col-third {
  vertical-align: top;
  box-sizing: border-box;
}
  @media (min-width: 600px) {
    .col-third {
      float: left;
      padding: 15px;
      width: 33%;
    }
  }
.col-fourth {
  vertical-align: top;
  box-sizing: border-box;
}
  @media (min-width: 600px) {
    .col-fourth {
      float: left;
      width: 49.99%;
    }
  }
.container-sm {
  margin: 0 auto;
  max-width: 600px;
}
.container-md {
  margin: 0 auto;
  max-width: 900px;
}
.container-lg {
  margin: 0 auto;
  max-width: 1200px;
}
.flex { display: flex; }
  .flex-column {
    flex-direction: column;
  }
  .flex-center {
    align-items: center;
    justify-content: center;
  }

/* Section Layouts */
.nav {
  height: auto;
}
.nav-mobile {
  background-color: #efefef;
  border-bottom: 1px solid #232d23;
}
  .nav-mobile .brand {
    display: inline-block;
    width: 85%;
  }
    .nav-mobile .brand .brand-image {
      margin: 3px auto;
      width: 35px;
    }
    .nav-mobile .brand .humblerootsmedia {
      display: inline-block;
      margin: 5px auto;
      padding: 0 5px;
      font-size: 1.3rem;
      font-weight: 700;
      vertical-align: top;
    }
  .nav-mobile .menu {
    float: right;
    margin: 3px auto;
    font-size: 2em;
    cursor: pointer;
  }
  .nav-mobile .links {
    display: none;
  }
    .nav-mobile .links li {
      padding: 10px;
    }
  @media (min-width: 600px) {
    .nav-mobile { display: none; }
  }

.nav-desktop { display: none; }
  @media (min-width: 600px) {
    .nav-desktop {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      transition: top .3s, background .3s;
      background: linear-gradient(to top, transparent, rgba(255,255,255,.4), rgba(255,255,255,.6));
    }
    .nav-desktop.nav-fixed {
      background-color: #efefef;
      border-bottom: 1px solid #232d23;
    }
    .nav-desktop.nav-up { top: -100%; }
      .nav-desktop .links {
        text-align: right;
      }
      .nav-desktop .links li {
        display: inline-block;
        text-align: center;
      }
      .nav-desktop .links li a {
        display: inline-block;
        padding: 22px 7px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        transition: color .3s, background-color .3s;
      }
        .nav-desktop .links li a:hover, a:active, a:focus {
          color: #efefef;
          background-color: #6fa66d;
        }
      .nav-desktop .brand-image {
        float: left;
        margin: 5px;
        width: 50px;
        vertical-align: middle;
      }
      .nav-desktop  .welcometo {
        padding-top: 3px;
        font-style: italic;
        color: #111;
      }
      .nav-desktop .humblerootsmedia {
        display: block;
        padding-bottom: 5px;
        font-size: 1.5em;
        font-weight: 700;
        color: #111;
      }
  }

.splash {
  min-height: 450px;
  height: 56.5vw;
  max-height: 85vh;

  font-size: 1.4em;
  color: #efefef;
}
  .splash h3 { display: none; }
  @media (min-width: 600px) {
    .splash h3 { display: block; font-style: italic; font-weight: 200; }
  }
.content {
  padding: 25px 15px;
  background-color: #cbcbcd;
}
.slide {
  min-height: 300px;
  height: 56.5vw;
  max-height: 85vh;

  font-size: 1.2rem;
  color: #efefef;
}
  .slide h3 { display: none; }
  @media (min-width: 600px) {
    .slide h3 { display: block; font-style: italic; font-weight: 200; }
  }
.break {
  position: relative;
  padding: 45px 15px;
  font-size: 1.7rem;
  background-color: #efefef;
}
  .break a { color: #6fa66d; text-decoration: underline; }
.break::after {
  position: absolute;
  left: 50%;
    transform: translateX(-50%);
  bottom: -20px;
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #efefef;
}
.break + * { padding-top: 30px; }

/* Helper Classes */
.clearfix::before, .clearfix::after {
  display: table;
  content: "";
  clear: both;
}
.text-center {
  margin: 0 auto;
  text-align: center;
}

/* Components */
.ghost {
  margin: 10px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #6fa66d;
  background: transparent;
  border: 2px solid #6fa66d;
  border-radius: 5px;
  transition: color .3s, background-color .3s;
}
  .ghost:hover {
    color: #efefef;
    background-color: #6fa66d;
    text-decoration: none;
  }
.scroll-up {
  display: block;
  padding: 15px 0;
  font-size: 3em;
  text-align: center;
  color: #332a20;
}

/* Specific Blocks */
#productions-control {
  text-align: center;
}
  #productions-control .prev, #productions-control .next {
    display: inline-block;
    margin: .83em auto;
    padding: 0 .3em;
    font-size: 1.5em;
    cursor: pointer;
  }
  #productions-control h2 {
    display: inline-block;
  }
  .bxslider .item {
    float: left;
    padding: 15px;
    box-sizing: border-box;
  }
  @media (min-width: 600px) {
    .bxslider .item {
      width: 33.33%;
    }
  }
#instafeed {
  padding: 0 15px;
}
  #instagram-icon {
    padding: 10px;
    font-size: 3em;
  }
  #instafeed .instagram-item {
    float: left;
    padding: 1%;
    width: 50%;
    box-sizing: border-box;
  }
  @media (min-width: 750px) {
    #instafeed .instagram-item {
      width: 25%;
    }
  }
  #instafeed .instagram-item img {
    margin: 0;
    width: 100%;
    height: auto;
  }
  #load-more {
    font-size: 3em;
    border: none;
    background: transparent;
    cursor: pointer;
  }
#footer {
  padding-top: 30px;
  color: #23232d;
  background-color: #6fa66d;
}
#info {}
  #info > div {
    margin: 45px auto;
    padding: 0 25px;
  }
  #info > div::after {
    display: block;
    margin: 25px auto 0 auto;
    content: "";
    border-bottom: 1px solid #23232d;
  }
  @media (min-width: 600px) {
    #info > div::after {
      display: none;
    }
  }
#socialmedia {
  font-size: 1.5em;
}
  #socialmedia li {
    display: inline-block;
  }
#copyright {
  text-align: center;
  color: #efefef;
  background-color: #332a20;
}
