/*
  Humble Roots Media
  Standard Branding Colours

  Green: #6fa66d
  Brown: #332a20

  Hues
  White: #efefef
  Black: #111111
  Light-Grey: #cbcbcd
  Dark-Greyish-Blue: #23232d
  Dark-Greyish-Green: #232d23



*/

/* HTML section styles */
html {}
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
header {}
footer {
  color: #23232d;
  background-color: #6fa66d;
}

/* Default Element Styles */
a {
  text-decoration: none;
}
a:hover, a:active, a:focus {
  text-decoration: underline;
}
img {
  max-width: 100%; /* Ensures no image breaks its container */
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li { margin: 0; padding: 0; }

/* Layout Classes */
.row {
  vertical-align: top;
}
.row::before, .row::after {
  display: table;
  content: "";
  clear: both;
}
.col {
  float: left;
}
.col-half {
  float: left;
  width: 50%;
}
.col-third {
  float: left;
  width: 33%;
}
.col-fourth {
  float: left;
  width: 49.99%;
}
.container {
  margin: 0 auto;
  max-width: 900px;
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slide {
  height: 100vh;
  color: #efefef;
}
.break {
  min-height: 250px;
  font-size: 2em;
  text-align: center;
}
.clearfix::before, .clearfix::after {
  display: table;
  content: "";
  clear: both;
}

/* Components */
.ghost {
  color: #6fa66d;
  padding: 10px;
  background: transparent;
  border: 2px solid #6fa66d;
}
.nav-links {}
  .nav-links li {
    float: left;
    display: inline-block;
    width: 33%;
    text-align: center;
  }
  .nav-links li a {
    display: inline-block;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

/* Specific Blocks */
#brand-image {
  float: left;
  margin: 5px;
  width: 50px;
  vertical-align: middle;
}
#welcometo {
  padding-top: 5px;
  font-style: italic;
  color: #111;
}
#humblerootsmedia {
  display: block;
  padding-bottom: 5px;
  font-size: 1.5em;
  color: #111;
}
#intro {
  height: 50vh;
}
#productions {
  padding: 25px;
}
  #productions-control {
    text-align: center;
  }
  #productions-control .prev, #productions-control .next {
    display: inline-block;
    margin: .83em auto;
    padding: 0 .3em;
    font-size: 1.5em;
    cursor: pointer;
  }
  #productions-control h2 {
    display: inline-block;
  }
  .bxslider .item {
    float: left;
    padding: 15px;
    width: 28%;
  }
#copyright {
  text-align: center;
  color: #efefef;
  background-color: #332a20;
}
