header {
  margin: 0 auto;
  padding: 25px 0;
  border-bottom: 1px solid #6fa66d;
}
  @media (min-width: 600px) {
    header {
      margin: 45px auto 35px auto;
      padding: 0;
    }
  }
.humble-title {
  margin: 5px auto;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
  @media (min-width: 600px) {
    .humble-title {
      font-size: 6rem;
    }
  }
.post-title {
  font-family: Georgia;
  margin: 10px auto;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1;
}
.post-metadata {
  color: #ababab;
}
.post-content {}
  .post-entry {
    margin: 50px auto;
    padding: 0 2%;
  }
  .post-entry h2, .post-entry h3, .post-entry h4, .post-entry h5, .post-entry h6 {
    margin: 25px auto;
    max-width: 750px;
  }
  .post-entry > p:first-of-type:first-letter {
    float: left;
    margin: 0 5px 5px 0;
    font-family: Georgia, serif;
    font-size: 4.5rem;
    line-height: .9;
  }
  .post-entry > p {
    margin: 45px auto;
    max-width: 750px;
    font-family: Arial, san-serif;
    line-height: 1.5;
    font-weight: 200;
  }
  .post-entry blockquote {
    position: relative;
    margin: 45px 15px 15px 45px;
    padding: 0 5%;
  }
  .post-entry blockquote p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.1;
  }
  .post-entry blockquote:before {
    content: "“";
    font-family: serif;
    font-size: 300px;
    color: #d0e2d0;
    position: absolute;
    top: -35px;
    left: -5px;
    line-height: .8;
    z-index: -1;
  }
.recent-posts {
  position: relative;
  padding: 15px 0;
  background-color: #D2E0CC;
}
  .recent-posts:after {
    position: absolute;
    left: 50%;
      transform: translateX(-50%);
    bottom: -20px;
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #D2E0CC;
  }
  .recent-posts_h2 {}
  .recent-posts_ul {
    border-top: 1px solid #6fa66d;
    padding: 15px 0;
  }
  .recent-posts_li {
    padding: 10px;
  }
    @media (min-width:600px) {
      .recent-posts_li {
        float: left;
        padding: 10px;
        width: 20%;
        box-sizing: border-box;
      }
    }
  .recent-posts_a {}
    .recent-posts_a:hover { text-decoration: underline; }
  .recent-posts_img {
    display: block;
  }
  .recent-posts_h4 {
    margin: 2px auto;
    font-weight: 200;
  }
